<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>精靈花園占卜屋</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
	<link rel='stylesheet' href='/stylesheets/gird.css'/>
	<link href="/stylesheets/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
	<style type='text/css'>
	</style>
</head>
<body>
<div class="navbar navbar-default navbar-static-top nav-nomargin">  
    <div class="container">  
      <div class="navbar-header">  
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
          <span class="sr-only">Toggle navigation</span>  
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>  
          </button>  
          <a class="navbar-brand" href="#">精靈花園</a>  
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">  
          <% if (!locals.user) { %>  
			<li><a href="/"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
			<li><a href="/"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
			<li><a href="/"><i class="glyphicon glyphicon-warning-sign"></i></a></li>
          <% } else { %>  
			<li><a href="/" class="pull-right"><%= user.userid %></a><li>
          <% } %>  
        </ul>  
      </div>   
    </div>  
  </div>  

</body>
</html>