<%- include header.html %>
			<div class="row">
				<div class="zp-menu">
				  <h1>流程介绍!</h1>
				  <p>This is a simple hero unit, a simple zp-menu-style component for calling extra attention to featured content or information.</p>
				  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
				</div>
				<div class="zp-menu">
				  <h1>普通占卜、高级占卜!</h1>
				  <p>This is a simple hero unit, a simple zp-menu-style component for calling extra attention to featured content or information.</p>
				  <p><a class="btn btn-primary btn-lg" role="button" href="divineDate">开始预约</a></p>
				</div>
			</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<%- include footer.html %>