<%- include header.html %>
<div class="row">
	<div class="col-md-4 zp-index">
		<a href="/divine"><img class="zp-index-img" alt="140x140" src="images/pic1.png" /></a>		
		<div class="caption zp-quick">
        <h3>快速入口</h3>
        <p><a href="divineDate" class="btn btn-primary" role="button">快速预约</a></p>
        </div>
	</div>
	<div class="col-md-4 zp-index">
		<a href="/divineStudy"><img class="zp-index-img" alt="140x140" src="images/pic2.png" /></a>
	</div>
	<div class="col-md-4 zp-index">
		<a href="/divineAdv"><img class="zp-index-img" alt="140x140" src="images/pic3.png" /></a>
	</div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/divine.js"></script>
<%- include footer.html %>